html {
    font-size: 16px; /* Esto define 1rem = 16px */
}
body {  /* General */
    margin: 0;
    padding: 0;
    background-image: url(/img/img-vaca.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    font-family: 'Eczar', sans-serif;
}

.navbar {  /* Barra de navegacion superior */
    position: relative;
    display: flex;
    font-family: 'Eczar', sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #00000030;
    padding: 0px 30px;
    text-align: center;
    border-bottom: 1px solid #00000030;
}

.icono-logo {  /* Logo */
    border: 1px solid #ffffff30;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: -17px;
    position: relative;
}

nav {  /* Navegacion */
    display: flex;
    align-items: center;
}

.nav-links li {  /* Elementos de la barra de navegación */
    margin-right: 40px;
}

.nav-links {  /* Lista de enlaces de navegación */
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {  /* Enlaces de navegación */
    color: #ffffff;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 16px;
    padding: 17px 20px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar li:nth-child(1) a:hover,
.navbar li:nth-child(5) a:hover {  /* Efecto hover en el primer y último enlace de navegación */
    text-decoration: underline;
    background-color: #00000000;
}

.nav-links li:last-child {  /* Último enlace de navegación */
    margin-right: 0;
}


.content {  /* Contenido principal */
    position: relative;
    height: 65vh;
    text-align: left;
}

@font-face {  /* Fuente personalizada */
    font-family: 'Hatton';
    src: url('/fonts/PP\ Hatton\ Medium\ 500.otf') format('truetype');
}

.main-text {  /* Texto principal */
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 7rem;
    font-family: 'Hatton', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    line-height: 1.0;
    margin: 0;
    z-index: 0;
}

.contact-info {  /* Información de contacto */
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    line-height: 0.8;
    z-index: 2;
}

.contact-info {  /* Detalles de contacto */
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Hatton', sans-serif;
}

.info-item strong{  /* Elementos de información de contacto */
    flex: 1;
    font-size: 3rem;
    text-align: center;
    font-family: 'Hatton', sans-serif;
}

@media (max-width: 600px) {  /* Estilos responsivos para pantallas pequeñas */
    .main-text {
        font-size: 10vw;
    }
    .sub-text {
        font-size: 4vw;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-info .info-item {
        margin-bottom: 1rem; 
    }
}

.footer-content {  /* Contenido del pie de página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Sedan SC', sans-serif;
    transform: translateY(0vw);
}

.footer-left {  /* Pie de página izquierdo */
    font-size: 22px;
    margin-left: 20px;
}

.footer-right {  /* Pie de página derecho */
    display: flex;
    padding-right: 1.5rem;
}

.footer-right a {  /* Enlaces del pie de página derecho */
    margin-left: 30px;
    font-size: 18px;
    width: 38px;
    height: 38px;
}

.dropdown {  /* Barra desplegable */
    position: relative;
}

.dropdown-content {  /* Contenido de la barra desplegable*/
    display: none;
    position: absolute;
    background-color: #00000030;
    min-width: 150px;
    z-index: 1;
    font-family: "Saira", sans-serif;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px solid #00000030;
    border-right: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
}

.dropdown:hover .dropdown-content {  /* Mostrar contenido de la barra desplegable */
    display: block;
}

.dropdown-content a {  /* Enlaces de la barra desplegable */
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    font-family: 'Saira', sans-serif;
}

.dropdown-content a:hover {  /* Efecto hover en enlaces de la barra desplegable */
    background-color: #ffffff67;
    text-decoration: none;
}
