/* Reset de margenes y padding */
body {
    margin: 0;
    padding: 0;
    background-image: url('/noa.png'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza el contenido */
    color: #ffffff; /* Color de texto blanco para contraste */
    font-family: 'Eczar', sans-serif; /* Tipografía general */
}
/* Contenedor principal de la barra de navegacion */
.navbar {
    display: flex;
    font-family: 'Eczar', sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #000000; /* Color de fondo */
    padding: 0px 30px; /* Espaciado interno */
    text-align: center; /* centrar xd */
    border-bottom: 1px solid #ffffff; /* Color y grosor del marco inferior */
}

.icono-logo {
    border: 1px solid #ffffff;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    position: relative;
}
/* Contenedor de navegacion */
nav {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 40px; /* Agrega espacio extra a la derecha de cada elemento de la lista */
}

/* Estilo para la lista de enlaces de navegacion */
.nav-links {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox para alineacion horizontal */
    gap: 15px;
}

/* Estilo para los enlaces */
.nav-links a {
    color: white; /* Color del texto */
    letter-spacing: 1.5px;
    text-decoration: none; /* Quita el subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    padding: 5px 10px;
}

/* Estilo para el estado hover de los enlaces */
.navbar li:nth-child(1) a:hover,
.navbar li:nth-child(5) a:hover {
    text-decoration: underline; /* Subrayar solo los elementos especificados en hover */
}
.nav-links li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}
/* Estilos para el texto principal */
.content {
    position: relative; /* Posicion relativa para que los elementos absolutos se posicionen dentro de este contenedor */
    height: 65vh; /* Altura del contenedor */
    text-align: left;
}

.main-text {
    position: absolute;
    top: 300px; /* Ajusta esta propiedad para mover verticalmente */
    left: 130px;
    font-size: 130px; /* Tamaño de fuente relativo al ancho de la ventana */
    font-family: 'Kaisei Decol', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px; /* Espaciado entre letras relativo al ancho de la ventana */
    line-height: 1.0; /* Ajuste de la altura de línea */
    margin: 0; /* Eliminar el margen predeterminado */
}

.sub-text {
    position: absolute;
    top: 580px; /* Ajusta esta propiedad para mover verticalmente */
    left: 170px;
    font-size: 20px; /* Tamaño de fuente relativo al ancho de la ventana */
    font-family: 'Roboto', sans-serif; /* Tipografía específica */
    color: #ffffff; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejorar legibilidad */
    letter-spacing: 5px; /* Espaciado entre letras relativo al ancho de la ventana */
    margin: 0; /* Eliminar el margen predeterminado */
}

@media (max-width: 600px) {
    .main-text {
        font-size: 10vw; /* Aumentar el tamaño de fuente en pantallas más pequeñas */
    }
    .sub-text {
        font-size: 4vw; /* Aumentar el tamaño de fuente en pantallas más pequeñas */
    }
}
/* Estilos para el pie de página */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px; /* Espaciado interno */
    position: absolute; /* Posicion absoluta */
    bottom: 0; /* Pegado al fondo */
    width: 100%; /* Ancho completo */
    color: #ffffff; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
}

.footer-left {
    font-size: 14px; /* Tamaño de la fuente para el texto de copyright */
}

.footer-right {
    display: flex;
}
.footer-right a {
    margin-left: 20px; /* Espaciado entre los íconos de redes sociales */
    font-size: 48px; /* Tamaño de los íconos */
}

.footer-right img {
    width: 48px; /* Tamaño de los íconos */
    height: 48px;
}